@import 'ui-kit/assets/styles/mixin';

.cards-wrap {
  :last-child {
    margin-bottom: var(--lg-size);
  }

  @include tablet-and-above {
    :last-child {
      margin-bottom: var(--xlg-size);
    }
  }
}

.hidden {
  display: none !important;
}
