@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.eot');
  src: local('Lato Regular'), local('Lato-Regular'),
  url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato-Regular.woff2') format('woff2'),
  url('../fonts/Lato-Regular.woff') format('woff'),
  url('../fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Bold.eot');
  src: local('Lato Bold'), local('Lato-Bold'),
      url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Lato-Bold.woff2') format('woff2'),
      url('../fonts/Lato-Bold.woff') format('woff'),
      url('../fonts/Lato-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
