@import 'shared/ui-kit/assets/styles/mixin.scss';

:host {
  display: block;
  transition: all .3s ease-in;
  max-height: 0px;
  opacity: 0;

  &._show-instruction {
    max-height: 500px;
    opacity: 1;
  }
}

.helper-card {
  position: relative;
  padding: var(--xlg-size);
  box-shadow: var(--shadow-card-helper);
  border-radius: var(--semi-md-size);
  background-color: var(--button-disabled-color);
  margin-bottom: var(--xxlg-size);
  border: var(--border-instruction);

  @include mobile-only {
    padding: var(--lg-size) var(--xlg-size);
    margin-bottom: var(--xlg-size);
  }

  @include mobile-sm-only {
    padding: var(--lg-size) var(--semi-lg-size);
    margin-bottom: var(--xlg-size);
  }

  &__title {
    @include cap-h5();
    color: var(--summer-night-color);
    margin-bottom: var(--md-size);

    @include tablet-and-above {
      margin-bottom: var(--sm-size);
      @include cap-h4();
    }
  }

  &__text {
    @include cap-h4();
    color: var(--summer-night-color);
  }

  &__description {
    @include text-normal();
    color: var(--summer-night-color);
  }

  ::after {
    content: '';
    width: 21px;
    height: 21px;
    background-color: var(--button-disabled-color);
    position: absolute;
    bottom: var(--semi-md-size-reverse);
    right: 25px;
    transform: rotate(45deg);
    border-bottom: var(--border-instruction);
    border-right: var(--border-instruction);
  }
}
