.container {
  line-height: 1.5em;
  letter-spacing: 0.0012em;
}

.title {
  color: #808080;
  font-size: 13px;
  line-height: 1.5em;
  letter-spacing: 0.0012em;
  border-bottom: 1px solid #DDDBDA;
  margin-bottom: 8px;
  padding-bottom: 8px;
}

.body {
  font-size: 14px;
}
