.description {
  margin-bottom: 32px;
}

.description2 {
  margin-bottom: 32px;
  color: #404040;
}

.field {
  width: 100%;
}

.form {
  margin-bottom: 32px;
  width: 100%;
}

.input {
  width: 100%;
}
