<ui-base-modal>
  <div class="select-available">
    <div>
      <div class="select-available__title">
        Выбор кандидата теперь доступен
      </div>

      <img src="../../../assets/icons/tip.svg" class="mb-md">

      <div class="select-available__text-helper">
        Мы переведем вас в начало списка, чтобы вам было удобнее найти необходимого кандидата
      </div>
    </div>

    <div class="grid grid-justify-center w-100-p">
      <ui-button (click)="start()">Приступить к голосованию</ui-button>
    </div>
  </div>
</ui-base-modal>
