// Mobile start
.mobile-only {
  display: none;

  @include mobile-only {
    display: block;
  }
}

.mobile-and-above {
  display: none;

  @include mobile-and-above {
    display: block;
  }
}

.mobile-and-below {
  display: none;

  @include mobile-and-below {
    display: block;
  }
}

.mobile-sm-only {
  display: none;

  @include mobile-sm-only {
    display: block;
  }
}

.mobile-sm-and-above {
  display: none;

  @include mobile-sm-and-above {
    display: block;
  }
}

.mobile-sm-and-below {
  display: none;

  @include mobile-sm-and-below {
    display: block;
  }
}
// Mobile end

// Tablet start
.tablet-only {
  display: none;

  @include tablet-only {
    display: block;
  }
}

.tablet-and-above {
  display: none;

  @include tablet-and-above {
    display: block;
  }
}

.tablet-and-below {
  display: none;

  @include tablet-and-below {
    display: block;
  }
}
// Tablet end

// Desktop start
.desktop-only {
  display: none;

  @include desktop-only {
    display: block;
  }
}

.desktop-and-above {
  display: none;

  @include desktop-and-above {
    display: block;
  }
}

.desktop-and-below {
  display: none;

  @include desktop-and-below {
    display: block;
  }
}

.desktop-wide-only {
  display: none;

  @include desktop-wide-only {
    display: block;
  }
}

.desktop-wide-and-above {
  display: none;

  @include desktop-wide-and-above {
    display: block;
  }
}

.desktop-wide-and-below {
  display: none;

  @include desktop-wide-and-below {
    display: block;
  }
}
// Desktop end
