<div class="desktop-rules">

  <div class="desktop-rules__section">

    <div class="desktop-rules__title">
      {{ titles[steps.stepOne] }}
    </div>

    <app-rules-step-one></app-rules-step-one>

  </div>

  <div class="desktop-rules__section">

    <div class="desktop-rules__title">
      {{ titles[steps.stepTwo] }}
    </div>

    <app-rules-step-two></app-rules-step-two>

  </div>

  <div class="desktop-rules__section desktop-rules__last-section">

    <div class="desktop-rules__title">
      {{ titles[steps.stepThree] }}
    </div>

    <app-rules-step-three></app-rules-step-three>

  </div>

  <!-- форма подтверждения -->
  <app-rules-confirm-form></app-rules-confirm-form>

</div>