.bg-base {
  background-color: var(--background-color);
}

.bg-white {
  background-color: var(--white-color);
}

.bg-disable {
  background-color: var(--disabled-color);
}

.bg-footer {
  background-color: var(--footer-gray);
}
