.icon-white-color {
  color: var(--white-color);
}

.icon-primary-color {
  color: var(--active-item-color);
}

.icon-gray-color {
  color: var(--helper-color);
}

.icon-active-color {
  color: var(--button-hit-color);
}

.icon-gosblue-color {
  color: var(--gosblue-color);
}

.icon-preloader-color {
  color: var(--preloader-icon-color);
}

.icon-confirm-completed-color {
  color: var(--confirm-completed-color);
}

.icon-success-color {
  color: var(--green-sea-color);
}