.text-summer-night {
  color: var(--summer-night-color);
}

.text-helper {
  color: var(--helper-color);
}

.text-tela-rossa {
  color: var(--tela-rossa-color);
}

.text-pino-verde {
  color: var(--pino-verde-color);
}

.text-gosblue {
  color: var(--gosblue-color);
}

.text-primary {
  color: var(--text-primary-color);
}

.text-secondary {
  color: var(--text-secondary-color);
}
