:root {
  // Abstract colors
  --text-primary-color: #0B1F33;
  --text-secondary-color: #66727F;

  // Bg colors
  --bg-skylight: #E4EAF2;

  // Other colors
  --white-color: #FFFFFF;
  --summer-night-color: #0B1F33;
  --text-normal-color: #1F1F1F;
  --input-color: #F5F7FA;
  --helper-color: #66727F;
  --error-highlight-color: #EE3F58;
  --shadow-color: #99B1E6;
  --disabled-color: #D1D5DF;
  --giallo-brillante-color: #FED13E;
  --gosblue-color: #0D4CD3;
  --gosred-color: #EE3F58;
  --tela-rossa-color: #E11432;
  --divider-color: #99B1E6;
  --pino-verde-color: #12826E;
  --background-color: #FAFCFF;
  --nephritis-color: #2DC36A;
  --active-item-color: #1D5DEB;
  --green-sea-color: #16A086;
  --foglia-di-acero-color: #FF8A00;
  --blu-selvaggio-color: #9DACCE;
  --button-disabled-color: #E5EAF5;
  --tagline-hit-color: #99B1E6;
  --tagline-color: #E4ECFD;
  --blu-digitale-color: #4D83FA;
  --telegrey-scuro-color: #86909C;
  --button-hit-color: #0B40B3;
  --footer-gray: #EEEFF2;
  --dark: #15355B;
  --placeholder-color: #E6E9F0;
  --preloader-icon-color: #D8DEEB;
  --confirm-completed-color: #C9D8FA;
  --telegrey-scuro-05-color:  rgba(134, 144, 156, 50%);
  --icon-notice-default: #B2C8F9;
  --line-hard-color: #6293FF;
  --green-light-color: #E0FCEB;
  --red-light-color: #F7E8EA;
  --blue-medium: #AEC5FA;
  --blue-focus: #9FCDF1;
}
