:root {
  --layer-lower: -2;
  --layer-lowest: -1;
  --layer-base: 0;
  --layer-semi-low: 500;
  --layer-low: 1000;
  --layer-semi-middle: 1250;
  --layer-middle: 1500;
  --layer-high: 2000;
  --layer-semi-highest: 2500;
  --layer-highest: 3000;
}
