<p>Рекомендуется установить актуальную версию браузера:</p>
<ul class="browserlist text-secondary">
  <li class="browserlist-item">
    <a href="https://browser.yandex.ru/" target="_blank" rel="noreferrer">Яндекс Браузер</a>Версия&nbsp;21
    и&nbsp;выше
  </li>
  <li class="browserlist-item">
    <a href="https://www.google.ru/chrome/" target="_blank" rel="noreferrer">Google Chrome</a>Версия&nbsp;89
    и&nbsp;выше
  </li>
  <li class="browserlist-item">
    <a href="https://www.mozilla.org/ru/firefox/" target="_blank" rel="noreferrer">Mozilla Firefox</a>Версия&nbsp;87
    и&nbsp;выше
  </li>
  <li class="browserlist-item">
    <a href="https://www.opera.com/ru" target="_blank" rel="noreferrer">Opera</a>Версия&nbsp;75 и&nbsp;выше
  </li>
  <li class="browserlist-item">
    <a href="https://www.apple.com/ru/safari/" target="_blank" rel="noreferrer">Safari</a>Версия&nbsp;14
    и&nbsp;выше
  </li>
</ul>
